openapi: 3.2.0
info:
  title: GoSpotCheck External Task Responses API
  version: '1.0'
  x-generated: '2026-07-19'
  x-method: searched
  x-source: https://gsc.docs.apiary.io/
  description: The GoSpotCheck (by FORM) External API lets developers build custom applications and integrations against a GoSpotCheck company account.
  contact:
    name: GoSpotCheck Support
    email: support@gospotcheck.com
    url: https://support.gospotcheck.com
servers:
- url: https://api.gospotcheck.com
  description: Production
security:
- oauth2Bearer: []
tags:
- name: TaskResponses
paths:
  /external/v1/task_responses:
    get:
      operationId: listTaskResponses
      summary: List task responses (read-only)
      tags:
      - TaskResponses
      parameters:
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/perPage'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/async'
      responses:
        '200':
          $ref: '#/components/responses/Success'
  /external/v1/task_responses/{id}:
    get:
      operationId: getTaskResponse
      summary: Get a single task response (read-only)
      tags:
      - TaskResponses
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          $ref: '#/components/responses/Success'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  schemas:
    RequestHash:
      type: object
      properties:
        status_code:
          type: integer
        status_message:
          type: string
        path:
          type: string
        method:
          type: string
        params:
          type: object
    ErrorsHash:
      type: object
      description: Present only when status_code is in the 400 or 500 range.
    Envelope:
      type: object
      properties:
        request:
          $ref: '#/components/schemas/RequestHash'
        paging:
          $ref: '#/components/schemas/PagingHash'
        data: {}
        errors:
          $ref: '#/components/schemas/ErrorsHash'
    PagingHash:
      type: object
      properties:
        current_page:
          type: integer
        previous_page:
          type:
          - integer
          - 'null'
        next_page:
          type:
          - integer
          - 'null'
        per_page:
          type: integer
        total_records:
          type: integer
        first_timestamp:
          type: string
        last_timestamp:
          type: string
  parameters:
    include:
      name: include
      in: query
      description: Comma-separated related resources to embed (e.g. teams,place_groups).
      schema:
        type: string
    async:
      name: _async
      in: query
      description: When true, run the index as an asynchronous CSV export job.
      schema:
        type: boolean
        default: false
    perPage:
      name: per_page
      in: query
      description: Records per page (defaults to 25, max 200).
      schema:
        type: integer
        default: 25
        maximum: 200
    page:
      name: page
      in: query
      description: Page number of results (defaults to 1).
      schema:
        type: integer
        default: 1
  responses:
    NotFound:
      description: Resource not found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Envelope'
    Success:
      description: Standard success envelope.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Envelope'
  securitySchemes:
    oauth2Bearer:
      type: http
      scheme: bearer
      description: 'OAuth2 access token supplied as `Authorization: Bearer <token>`. Tokens are issued by GoSpotCheck; contact your Customer Success Manager or support@gospotcheck.com to obtain one.'
