openapi: 3.2.0
info:
  title: GoSpotCheck External Teams API
  version: '1.0'
  x-generated: '2026-07-19'
  x-method: searched
  x-source: https://gsc.docs.apiary.io/
  description: The GoSpotCheck (by FORM) External API lets developers build custom applications and integrations against a GoSpotCheck company account.
  contact:
    name: GoSpotCheck Support
    email: support@gospotcheck.com
    url: https://support.gospotcheck.com
servers:
- url: https://api.gospotcheck.com
  description: Production
security:
- oauth2Bearer: []
tags:
- name: Teams
paths:
  /external/v1/teams:
    get:
      operationId: listTeams
      summary: List all teams for the company
      tags:
      - Teams
      responses:
        '200':
          $ref: '#/components/responses/Success'
    post:
      operationId: createTeam
      summary: Create a new team
      tags:
      - Teams
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Team'
      responses:
        '200':
          $ref: '#/components/responses/Success'
        '422':
          $ref: '#/components/responses/Unprocessable'
  /external/v1/teams/{id}:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: integer
    get:
      operationId: getTeam
      summary: Get a single team
      tags:
      - Teams
      responses:
        '200':
          $ref: '#/components/responses/Success'
        '404':
          $ref: '#/components/responses/NotFound'
    put:
      operationId: updateTeam
      summary: Update an existing team
      tags:
      - Teams
      responses:
        '200':
          $ref: '#/components/responses/Success'
    delete:
      operationId: deleteTeam
      summary: Delete an existing team
      tags:
      - Teams
      responses:
        '200':
          $ref: '#/components/responses/Success'
  /external/v1/teams/{id}/add_users:
    put:
      operationId: addUsersToTeam
      summary: Add users to a team
      tags:
      - Teams
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      - name: user_ids
        in: query
        schema:
          type: string
      responses:
        '200':
          $ref: '#/components/responses/Success'
  /external/v1/teams/{id}/remove_users:
    put:
      operationId: removeUsersFromTeam
      summary: Remove users from a team
      tags:
      - Teams
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      - name: user_ids
        in: query
        schema:
          type: string
      responses:
        '200':
          $ref: '#/components/responses/Success'
components:
  schemas:
    RequestHash:
      type: object
      properties:
        status_code:
          type: integer
        status_message:
          type: string
        path:
          type: string
        method:
          type: string
        params:
          type: object
    Team:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        parent_id:
          type:
          - integer
          - 'null'
        created_at:
          type: string
        updated_at:
          type: string
    ErrorsHash:
      type: object
      description: Present only when status_code is in the 400 or 500 range.
    Envelope:
      type: object
      properties:
        request:
          $ref: '#/components/schemas/RequestHash'
        paging:
          $ref: '#/components/schemas/PagingHash'
        data: {}
        errors:
          $ref: '#/components/schemas/ErrorsHash'
    PagingHash:
      type: object
      properties:
        current_page:
          type: integer
        previous_page:
          type:
          - integer
          - 'null'
        next_page:
          type:
          - integer
          - 'null'
        per_page:
          type: integer
        total_records:
          type: integer
        first_timestamp:
          type: string
        last_timestamp:
          type: string
  responses:
    NotFound:
      description: Resource not found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Envelope'
    Success:
      description: Standard success envelope.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Envelope'
    Unprocessable:
      description: Unprocessable entity (model validation failed).
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Envelope'
  securitySchemes:
    oauth2Bearer:
      type: http
      scheme: bearer
      description: 'OAuth2 access token supplied as `Authorization: Bearer <token>`. Tokens are issued by GoSpotCheck; contact your Customer Success Manager or support@gospotcheck.com to obtain one.'
