openapi: 3.2.0
info:
  title: GoSpotCheck External Catalog Items API
  version: '1.0'
  x-generated: '2026-07-19'
  x-method: searched
  x-source: https://gsc.docs.apiary.io/
  description: The GoSpotCheck (by FORM) External API lets developers build custom applications and integrations against a GoSpotCheck company account.
  contact:
    name: GoSpotCheck Support
    email: support@gospotcheck.com
    url: https://support.gospotcheck.com
servers:
- url: https://api.gospotcheck.com
  description: Production
security:
- oauth2Bearer: []
tags:
- name: Catalog Items
paths:
  /external/v1/catalogs/{catalog_id}/items:
    parameters:
    - name: catalog_id
      in: path
      required: true
      schema:
        type: integer
    get:
      operationId: listCatalogItems
      summary: List catalog items
      tags:
      - Catalog Items
      responses:
        '200':
          $ref: '#/components/responses/Success'
    post:
      operationId: createCatalogItems
      summary: Create catalog items
      tags:
      - Catalog Items
      responses:
        '200':
          $ref: '#/components/responses/Success'
        '422':
          $ref: '#/components/responses/Unprocessable'
  /external/v1/catalogs/{catalog_id}/items/{id}:
    parameters:
    - name: catalog_id
      in: path
      required: true
      schema:
        type: integer
    - name: id
      in: path
      required: true
      schema:
        type: integer
    put:
      operationId: updateCatalogItem
      summary: Update a catalog item
      tags:
      - Catalog Items
      responses:
        '200':
          $ref: '#/components/responses/Success'
    delete:
      operationId: deleteCatalogItem
      summary: Delete a catalog item
      tags:
      - Catalog Items
      responses:
        '200':
          $ref: '#/components/responses/Success'
components:
  schemas:
    RequestHash:
      type: object
      properties:
        status_code:
          type: integer
        status_message:
          type: string
        path:
          type: string
        method:
          type: string
        params:
          type: object
    ErrorsHash:
      type: object
      description: Present only when status_code is in the 400 or 500 range.
    Envelope:
      type: object
      properties:
        request:
          $ref: '#/components/schemas/RequestHash'
        paging:
          $ref: '#/components/schemas/PagingHash'
        data: {}
        errors:
          $ref: '#/components/schemas/ErrorsHash'
    PagingHash:
      type: object
      properties:
        current_page:
          type: integer
        previous_page:
          type:
          - integer
          - 'null'
        next_page:
          type:
          - integer
          - 'null'
        per_page:
          type: integer
        total_records:
          type: integer
        first_timestamp:
          type: string
        last_timestamp:
          type: string
  responses:
    Success:
      description: Standard success envelope.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Envelope'
    Unprocessable:
      description: Unprocessable entity (model validation failed).
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Envelope'
  securitySchemes:
    oauth2Bearer:
      type: http
      scheme: bearer
      description: 'OAuth2 access token supplied as `Authorization: Bearer <token>`. Tokens are issued by GoSpotCheck; contact your Customer Success Manager or support@gospotcheck.com to obtain one.'
