openapi: 3.0.3
info:
  title: GoSpotCheck External AsyncJobs MissionResponses API
  version: '1.0'
  x-generated: '2026-07-19'
  x-method: searched
  x-source: https://gsc.docs.apiary.io/
  description: The GoSpotCheck (by FORM) External API lets developers build custom applications and integrations against a GoSpotCheck company account. It supports ongoing creates/updates to people, places, place groups, teams, catalogs and items, and pulling MissionResponse / TaskResponse data out of GoSpotCheck to build custom reports. All requests are RESTful over HTTPS, authenticated with an OAuth2 bearer token in the Authorization header. Responses use a standard envelope with `request`, `paging`, `data`, and `errors` hashes. Faithfully transcribed from the provider's published Apiary API Blueprint; not every field-level schema is modeled.
  contact:
    name: GoSpotCheck Support
    email: support@gospotcheck.com
    url: https://support.gospotcheck.com
servers:
- url: https://api.gospotcheck.com
  description: Production
security:
- oauth2Bearer: []
tags:
- name: MissionResponses
paths:
  /external/v1/mission_responses:
    get:
      operationId: listMissionResponses
      summary: List mission responses (read-only)
      tags:
      - MissionResponses
      parameters:
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/perPage'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/async'
      responses:
        '200':
          $ref: '#/components/responses/Success'
  /external/v1/mission_responses/{id}:
    get:
      operationId: getMissionResponse
      summary: Get a single mission response (read-only)
      tags:
      - MissionResponses
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          $ref: '#/components/responses/Success'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  parameters:
    perPage:
      name: per_page
      in: query
      description: Records per page (defaults to 25, max 200).
      schema:
        type: integer
        default: 25
        maximum: 200
    page:
      name: page
      in: query
      description: Page number of results (defaults to 1).
      schema:
        type: integer
        default: 1
    include:
      name: include
      in: query
      description: Comma-separated related resources to embed (e.g. teams,place_groups).
      schema:
        type: string
    async:
      name: _async
      in: query
      description: When true, run the index as an asynchronous CSV export job.
      schema:
        type: boolean
        default: false
  responses:
    Success:
      description: Standard success envelope.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Envelope'
    NotFound:
      description: Resource not found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Envelope'
  schemas:
    Envelope:
      type: object
      properties:
        request:
          $ref: '#/components/schemas/RequestHash'
        paging:
          $ref: '#/components/schemas/PagingHash'
        data: {}
        errors:
          $ref: '#/components/schemas/ErrorsHash'
    PagingHash:
      type: object
      properties:
        current_page:
          type: integer
        previous_page:
          type: integer
          nullable: true
        next_page:
          type: integer
          nullable: true
        per_page:
          type: integer
        total_records:
          type: integer
        first_timestamp:
          type: string
        last_timestamp:
          type: string
    ErrorsHash:
      type: object
      description: Present only when status_code is in the 400 or 500 range.
    RequestHash:
      type: object
      properties:
        status_code:
          type: integer
        status_message:
          type: string
        path:
          type: string
        method:
          type: string
        params:
          type: object
  securitySchemes:
    oauth2Bearer:
      type: http
      scheme: bearer
      description: 'OAuth2 access token supplied as `Authorization: Bearer <token>`. Tokens are issued by GoSpotCheck; contact your Customer Success Manager or support@gospotcheck.com to obtain one.'
