openapi: 3.2.0
info:
  title: GoSpotCheck External Place Groups API
  version: '1.0'
  x-generated: '2026-07-19'
  x-method: searched
  x-source: https://gsc.docs.apiary.io/
  description: The GoSpotCheck (by FORM) External API lets developers build custom applications and integrations against a GoSpotCheck company account.
  contact:
    name: GoSpotCheck Support
    email: support@gospotcheck.com
    url: https://support.gospotcheck.com
servers:
- url: https://api.gospotcheck.com
  description: Production
security:
- oauth2Bearer: []
tags:
- name: PlaceGroups
paths:
  /external/v1/place_groups:
    get:
      operationId: listPlaceGroups
      summary: List all place groups for the company
      tags:
      - PlaceGroups
      parameters:
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/perPage'
      responses:
        '200':
          $ref: '#/components/responses/Success'
    post:
      operationId: createPlaceGroup
      summary: Create a new place group
      tags:
      - PlaceGroups
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PlaceGroup'
      responses:
        '200':
          $ref: '#/components/responses/Success'
        '422':
          $ref: '#/components/responses/Unprocessable'
  /external/v1/place_groups/{id}:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: integer
    get:
      operationId: getPlaceGroup
      summary: Get a single place group
      tags:
      - PlaceGroups
      responses:
        '200':
          $ref: '#/components/responses/Success'
        '404':
          $ref: '#/components/responses/NotFound'
    put:
      operationId: updatePlaceGroup
      summary: Update an existing place group
      tags:
      - PlaceGroups
      responses:
        '200':
          $ref: '#/components/responses/Success'
    delete:
      operationId: deletePlaceGroup
      summary: Delete an existing place group
      tags:
      - PlaceGroups
      responses:
        '200':
          $ref: '#/components/responses/Success'
  /external/v1/place_groups/{id}/add_places:
    put:
      operationId: addPlacesToPlaceGroup
      summary: Add places to a place group
      tags:
      - PlaceGroups
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      - name: place_ids
        in: query
        schema:
          type: string
          description: Comma-separated place ids
      responses:
        '200':
          $ref: '#/components/responses/Success'
  /external/v1/place_groups/{id}/remove_places:
    put:
      operationId: removePlacesFromPlaceGroup
      summary: Remove places from a place group
      tags:
      - PlaceGroups
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      - name: place_ids
        in: query
        schema:
          type: string
      responses:
        '200':
          $ref: '#/components/responses/Success'
components:
  schemas:
    RequestHash:
      type: object
      properties:
        status_code:
          type: integer
        status_message:
          type: string
        path:
          type: string
        method:
          type: string
        params:
          type: object
    ErrorsHash:
      type: object
      description: Present only when status_code is in the 400 or 500 range.
    Envelope:
      type: object
      properties:
        request:
          $ref: '#/components/schemas/RequestHash'
        paging:
          $ref: '#/components/schemas/PagingHash'
        data: {}
        errors:
          $ref: '#/components/schemas/ErrorsHash'
    PlaceGroup:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        parent_id:
          type:
          - integer
          - 'null'
        created_at:
          type: string
        updated_at:
          type: string
    PagingHash:
      type: object
      properties:
        current_page:
          type: integer
        previous_page:
          type:
          - integer
          - 'null'
        next_page:
          type:
          - integer
          - 'null'
        per_page:
          type: integer
        total_records:
          type: integer
        first_timestamp:
          type: string
        last_timestamp:
          type: string
  responses:
    NotFound:
      description: Resource not found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Envelope'
    Success:
      description: Standard success envelope.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Envelope'
    Unprocessable:
      description: Unprocessable entity (model validation failed).
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Envelope'
  parameters:
    perPage:
      name: per_page
      in: query
      description: Records per page (defaults to 25, max 200).
      schema:
        type: integer
        default: 25
        maximum: 200
    page:
      name: page
      in: query
      description: Page number of results (defaults to 1).
      schema:
        type: integer
        default: 1
  securitySchemes:
    oauth2Bearer:
      type: http
      scheme: bearer
      description: 'OAuth2 access token supplied as `Authorization: Bearer <token>`. Tokens are issued by GoSpotCheck; contact your Customer Success Manager or support@gospotcheck.com to obtain one.'
