HOST: https://api.gospotcheck.com

# GoSpotCheck External API
The GoSpotCheck External API is designed for developers and engineers who are interested in building custom applications or integrating with other APIs.

The API is best suited for:
- Ongoing creates or updates to your people, places, UAPs, catalogs, items, etc
- Pulling MissionResponse or TaskResponse data out of GoSpotCheck to create your own reports

New to GoSpotCheck? Check out the [GSC Glossary](https://support.gospotcheck.com/hc/en-us/articles/202367280-GSC-Glossary) to learn the lingo!

##External API Capabilities Overview
| Field                       | GET | GET CSV   | POST | PUT | DELETE |
|-----------------------------|-----|-----------|------|-----|--------|
|`places`                     |  x  |     x     |  x   |  x  |    x   |
|`placegroups`                |  x  |           |  x   |  x  |    x   |
|`users`                      |  x  |     x     |  x   |  x  |        |
|`teams`                      |  x  |           |  x   |  x  |    x   |
|`missions`                   |  x  |     x     |  x   |  x  |        |
|`sections` (mission include) |  x  |           |      |     |        |
|`tasks` (for a mission)      |  x  |     x     |  x   |  x  |        |
|`mission responses`          |  x  |     x     |      |     |        |
|`task responses`             |  x  |     x     |      |     |        |
|`user assigned places`       |  x  |     x     |  x   |     |    x   |
|`catalogs`                   |  x  |     x     |  x   |  x  |        |
|`catalog items`              |  x  |     x     |  x   |  x  |    x   |
|`custom views`               |  x  |     x     |      |     |        |
|`contacts`                   |     |           |      |     |        |
|`manager permissions`        |     |           |      |     |        |

##External API v2 Capabilities Overview
| Field                       | GET | GET CSV   | POST | PUT | DELETE |
|-----------------------------|-----|-----------|------|-----|--------|
|`places`                     |     |           |  x   |  x  |        |
|`place groups`               |     |           |      |  x  |        |
|`tag edits`                  |  x  |           |      |     |        |
|`mission jobs`               |  x  |           |      |     |        |

#Table of Contents
- [API Access](#section-api-access) - OAuth2 API access authentication
- [API Help](#section-api-support-updates) - We’re here to help!
- [Subscribe to Updates](#section-api-support-updates) - Be in the know on updates to the API
- [Change Log](#section-change-log) - List of recent changes to the API
- [API Technical Requirements](#section-api-tech-requirements) - Technical requirements for communicating with the API - security protocols and rate limits
- [API Endpoints](#section-api-endpoints) - Endpoints available in the API
- [APIv2 Endpoints](#section-v2-endpoints) - Endpoints available in the API v2
- [API Requests](#section-api-requests) - Formatting of requests sent to the **RESTful** GoSpotCheck API
    - [Index Requests](#section-api-requests-index-requests) - Available parameters for the Index actions
        - [Sorting](#section-api-requests-index-sorting) - Sorting the results using different criteria
        - [Paging](#section-api-requests-index-paging) - Paging through your index results
        - [Filtering](#section-api-requests-index-filtering) - Field operators for filtering your index results
    - [Includes & Methods](#section-includes-methods) - How to request associated resource data to be included in response
    - [CRUD Requests](#section-api-requests-crud-requests) - Creating/updating/deleting resources
        - [Creating Multiple Records in a Single Request](#section-api-requests-creating-multiple) - How to format your requests to batch-create resources
- [API Responses](#section-api-responses) - The common response format of each request
- [Custom Properties (Metadata)](#section-api-metadata) - How metadata is handled for specific resources in the API
- [Asynchronous CSV Jobs](#section-async-jobs) - How data is requested asynchronously for endpoints and returned in CSV format
- [Endpoint Documentation](#section-endpoint-documentation) - Documentation specific for each endpoint. You may also use the links on the table on the right sidebar to navigate to any endpoint.

<a id="section-api-access"></a>
#API Access
Authentication to the GoSpotCheck API uses OAuth2 and a token is required for access to the API.
OAuth2 tokens are set in the `Authorization` header for your requests as follows:

        Authorization: Bearer abcdef1234567890

Contact your GoSpotCheck Customer Success Manager or [support@gospotcheck.com](mailto:support@gospotcheck.com) for obtaining an access token to the API.

<a id="section-api-help"></a>
#API Help

Have questions or need support?
Email your GoSpotCheck Customer Success Manager or [support@gospotcheck.com](mailto:support@gospotcheck.com).

<a id="section-api-tech-requirements"></a>
# API Technical Requirements
## Protocol and Communication
- `api.gospotcheck.com` is only accessible via HTTPS, using TLS 1.1 or better.
- As of August 1st, 2018 we deprecated the legacy TLS 1.0 endpoint (api-legacy.gospotcheck.com).
If you have questions or concerns about this deprecation, please contact your GoSpotCheck Customer Success Manager or [support@gospotcheck.com](mailto:support@gospotcheck.com).

## Rate Limits
The API enforces the following rate limits. Exceeding these limits will return the following HTTP error code: `403 Forbidden (Rate Limit Exceeded)`
- **Interval Limit** 10 requests per second (must be in serial, concurrent requests cannot be accepted)
- **Daily Limit** 100,000 requests per day
If you need higher limits to support your specific use case, please contact your GoSpotCheck Customer Success Manager or [support@gospotcheck.com](mailto:support@gospotcheck.com)

<a id="section-api-endpoints"></a>
#API Endpoints
The following resources are available for index and CRUD operations:

- `/external/v1/places` - [Places](#group-places-index)
- `/external/v1/place_groups` - [PlaceGroups](#group-placegroups-index)
- `/external/v1/users` - [Users](#group-users-index)
- `/external/v1/teams` - [Teams](#group-teams-index)
- `/external/v1/missions` - [Missions](#group-missions-index)
- `/external/v1/missions/{mission_id}/tasks` - [Tasks](#group-mission-tasks-index) - For the creation of Sections and Tasks
- `/external/v1/mission_responses` - [MissionResponses](#group-missionresponses-index) (read-only)
- `/external/v1/task_responses` - [TaskResponses](#group-taskresponses-index) (read-only)
- `/external/v1/user_place_assignments` - [UserPlaceAssignments](#group-userplaceassignments-index)
- `/external/v1/custom_views` - [CustomViews](#group-customviews-index)
- `/external/v1/catalogs` - [Catalogs](#group-catalogs-index)
- `/external/v1/catalogs/{catalog_id}/items` - [CatalogItems](#group-catalog-items-index) - For the creation, update, deletion of Catalog Items
- `/external/v1/async_jobs/csv_exports/{job_guid}/status` - [AsyncJobs](#group-async-jobs-status) - For querying the status of requested asynchronous jobs

All parameters for a specific endpoint will be described in the appropriate endpoint sections. All 'string' field types have a 255 character limit unless otherwise noted.

<a id="section-v2-endpoints"></a>
#APIv2 Endpoints
The following resources are available for index and CRUD operations:

- `/external/v2/companies/:id/places` - [Places](#v2-places)
- `/external/v2/companies/:id/place_groups` - [Place Groups](#v2-place-groups)
- `/external/v2/companies/:id/image_rec/scene_types/:id/tags` - [Tag Edits](#v2-tags)
- `/external/v2/companies/:id/mission_jobs` - [Mission Jobs](#v2-mission-jobs)

<a id="section-api-requests"></a>
#API Requests

Requests for the GoSpotCheck API are all RESTful, with parameters following the endpoint path.
Each request in the documentation is displayed with the appropriate HTTP method and sample parameters.
The following request using HTTP GET requests all places for your company created after August 7th, 2014
and belong to place group 7:

`http://api.gospotcheck.com/external/v1/places?created_at.gt=1407391200&place_group_id.eq=7`

Data may be sent in parameters or in the request body as JSON.

***Note:*** Requests will time out after 30 seconds.

<a id="section-api-requests-index-requests"></a>
## Index Requests

The index requests on the GoSpotCheck API allow for sorting, paging, and numerous types of matchers depending on the field types for a particular resource. For examples of how to use the different matchers, please see the [Places documentation](#group-places-index).

<a id="section-api-requests-index-sorting"></a>
## Index Sorting

Sorting is done by two parameters in any index request. If `sort_by` appears as
a parameter, `sort_direction` is also required. Currently requests may be sorted by only one field.

| Parameter            | Type                   | Example                |
|----------------------|------------------------|------------------------|
| `sort_by`            | string                 | `sort_by=created_at`   |
| `sort_direction`     | string `asc` or `desc` | `sort_direction=desc`  |

<a id="section-api-requests-index-paging"></a>
## Index Paging

Paging automatically occurs for all index requests. The following parameters allow you to control how many responses are returned.

| Parameter            | Type                               | Example                |
|----------------------|------------------------------------|------------------------|
| `page`               | integer, default: `1`              | `page=31`              |
| `per_page`           | integer, default: `25`, max: `200` | `per_page=100`         |

<a id="section-api-requests-index-filtering"></a>
## Index Filtering

Filtering your GET index results is done by using different operator matchers on different
fields for the current endpoint resource.

NOTE:
- Only AND filtering is supported. There is no support for OR filtering at this time.
- There are six operators available for various types of fields in the system.
- Strings, integers and floats generally may be used for each matcher, depending on your needs.
- Values must be URI encoded by your request client before issuing the request.
- Large requests will time out after 30 seconds.
- When using `.lt`, `.lte`, `.gt`, or `.gte`, be sure to set upper and lower limits. Otherwise, you risk hitting the 30 second time out.

| Matcher   | Matches                         | Example                    | URI Encoded                  |With Range Limits             |
|-----------|---------------------------------|----------------------------|------------------------------|------------------------------|
| `.eq`     | Exact match                     | `name.eq=GSC Headquarters` | `name.eq=GSC%20Headquarters` |                              |
| `.gt`     | Greater than value              | `id.gt=5`                  | `id.gt=5`                    | `id.gt=5&id.lt=10`           |
| `.gte`    | Greather than or equal to value | `id.gte=10`                | `id.gte=10`                  | `id.gte=10&id.lte=100`       |
| `.lt`     | Less than value                 | `id.lt=200`                | `id.lt=200`                  | `id.lt=200&id.gt=100`        |
| `.lte`    | Less than or equal to value     | `id.lte=150`               | `id.lte=150`                 | `id.lte=150&id.gte=50`       |
| `.in`     | Value in comma-separated list   | `id.in=3,14,52,68`         | `id.in=3,14,52,68`           |                              |
 
<a id="section-includes-methods"></a>
## Includes & Methods

For some of the available resources, you are able to request additional data for a given request. A common use case would be to include teams and placegroups when requesting Missions.

- `include` requests bring in data from an associated model
- `methods` requests bring in derived or additional data points from a different model

NOTE:
- The `include` and `methods` parameters are not supported (and are ignored) on an ASYNC request.
- Associated data is not included by default and requires the `include` or `methods` parameter be set.
- Available includes and methods are listed with each endpoint
- Multiple includes may be separated by commas
- Multiple methods may be separated by commas
- Includes and methods can be used in the same request


| Parameter            | Type                               | Example                        |
|----------------------|------------------------------------|--------------------------------|
| `include`            | String, default: ''                | `include=teams,place_groups`   |
| `methods`            | String, default: ''                | `methods=company_id`           |


<a id="section-api-requests-crud-requests"></a>
## CRUD Requests

Create, update and delete requests follow standard RESTful practices. While some fields
are available on a resource, you may not be able to set values such as `created_at` during
a CREATE, UPDATE or DELETE action. The allowed parameters are listed at the beginning of each CRUD
section for a particular resource. For an example, please see the [Places documentation](#group-places-index).

<a id="section-api-requests-creating-multiple"></a>
## Creating Multiple Records in a Single Request

The API provides additional support for creating multiple of each resource in a single request for
the CREATE action as an enhancement. To create multiple records, you must
specify the name of the pluralized resource with underscores (which you can pull from the URL).
For example, to create multiple `PlaceGroups` at the same time, the request parameters must appear as
the following:

            {
                "place_groups": [
                    {
                        "name": "West Coast"
                    },
                    {
                        "name": "Rocky Mountains"
                    }
                ]
            }

If you do not include the pluralized, underscorized name in the parameters, the API will assume you
are creating a single record as in a standard RESTful request.

***Note:*** The [Tasks](#group-mission-tasks-index) endpoint does not follow this multiple create pattern.
Please refer to the documentation of the Tasks endpoint to understand how sections and tasks are created.

<a id="section-api-responses"></a>
#API Responses
All API response are formatted in a consistent format, regardless of HTTP status code.

        {
            "request": {
                "status_code": 200,
                "status_message": "OK",
                "path": "/external/v1/places",
                "method": "GET",
                "params": {}
            },
            "paging": {
                "next_page": null,
                "current_page": 1,
                "previous_page": null,
                "per_page": 25,
                "total_records": 18,
                "first_timestamp": 1403156620.0609322,
                "last_timestamp": 1400008286.827591
            },
            "data": {},
            "errors": {}
        }
        
***Note:*** Requests will time out after 30 seconds.

## Response "request" hash
The request hash in a response contains information about the given request that
resulted in this response.

- `status_code` - The HTTP status code for this response
- `status_message` - A human-formatted status message for the response
- `path` - The endpoint path for the given request
- `method` - The HTTP method for the given request
- `params` - A hash of parsed parameter keys and values for the given request

## Response "paging" hash
The paging hash in a response only exists if the data result is an array which appears
during index actions and other specific API endpoint actions.

- `next_page` - Contains the value for the next page. Will be null if no further pages exist.
- `current_page` - The currently requested page. Defaults to `1` if no page is given in the request.
- `previous_page` - The page prior to the current page. Will be null if `current_page` is `1`.
- `per_page` - The maximum amount of records that may be returned in this response. If not given in parameters, defaults to `25`. Max is `200`.
- `total_records` - The total records that match this request, regardless of current paging results.
- `first_timestamp` - The `created_at` timestamp of the first record in the results `data` array.
- `last_timestamp` - The `created_at` timestamp of the last record in the results `data` array.

## Response "data" object
The `data` object in the results hash may be either a hash or an array, depending on the endpoint action.

## Response "errors" hash
The `errors` hash only appears in results when the request `status_code` is in the 400 or 500 range
to inform the client of errors such as incorrect field formats, model validation errors or server errors.

<a id="section-api-metadata"></a>
## Custom Properties (Metadata)

The API supports custom properties for **users**, **places**, **catalog items**, **tasks**, and **missions**. NOT supported for **catalogs**. Custom property **keys** are created
by GoSpotCheck for your company, and once available, they appear as attributes for each *instance* of the resource returned from a request.

Learn more about [GoSpotCheck](https://support.gospotcheck.com/hc/en-us/articles/217899388-Properties-101) Properties.

For example, a place without any custom properties would return as:

        {
            "address":"201 Ashton Way",
            "city":"Camden Town",
            "country":"US",
            "created_at":"2014-08-07T18:26:30-04:00",
            "custom_place_id":null,
            "id":44,
            "name":"A Cool New Place",
            "postal_code":"24315",
            "state":"KY",
            "updated_at":"2014-08-07T18:26:30-04:00"
        }

When the custom properties keys **Region** and **Management District** are created for places for your company, the above place would be returned as:

        {
            "address":"201 Ashton Way",
            "city":"Camden Town",
            "country":"US",
            "created_at":"2014-08-07T18:26:30-04:00",
            "custom_place_id":null,
            "id":44,
            "name":"A Cool New Place",
            "postal_code":"24315",
            "state":"KY",
            "updated_at":"2014-08-07T18:26:30-04:00",
            "region":null,
            "management district":null,
        }

Now each place can save/update its own value of **region** and **management district**. When creating or updating resources that support custom properties, you may simply set the custom properties as attributes to each call
and they will be created or updated appropriately and returned as populated attributes.

**Note 1:** Custom property keys can be created with varying case and spaces as seen in this example, but are expected to be lower-case when used in the API or they will be ignored (spaces are ok).

**Note 2:** Currently the API does not support index filtering on custom properties attributes, and may be added to the API in the future.


<a id="section-async-jobs"></a>
#Asynchronous CSV Jobs

**Note 1:** This feature is currently available on the following endpoints: `places`, `users`, `user_place_assignments`, `mission_responses`, `task_responses`, `missions`, `tasks`, `custom_views`,`catalogs`, and `catalog_items` endpoints.

**Note 2:** This feature is planned for the following endpoints soon! `place_groups`, `teams`

**Note 3:** This feature is currently only available on the **index** action for each enabled endpoint.

By default, all requests to the External API are synchronous and all data requested are returned within the same request/response cycle.
One limitation of this approach is that all INDEX responses are limited to a maximum number of records as defined in the [Index Paging section](#section-api-requests-index-paging).
To enable returning an unlimited number of records, you are able to create a job to be executed asynchronously to return all records that match your current query.

## Async Parameters

Any existing INDEX request on enabled endpoints may be converted into an asynchronous job by simply adding the following parameters:

- `_async=true` - Available values are `true`, and `false`. Defaults to `false` on all enabled endpoints.
- `_delimiter=,` - Available values are `,`, `;`, and `|`. Defaults to `,`.
- `_headers=true` - Available values are `true` and `false`. Defaults to `true`.

### Converting a Synchronous Request into an Asynchronous Job

Given the following request to get places for my company:

```https://api.gospotcheck.com/external/v1/places```

It can be converted into an asynchronous job by adding `_async=true` as a parameter:

```https://api.gospotcheck.com/external/v1/places?_async=true```

NOTE: Includes and methods will be ignored in any async request.


## Response Structure and Return Codes

When an asynchronous job is successfully created, a code of `200` will be returned. Any errors will result in a return code of `422` and error messages will be returned in the standard format.

The response structure of a requested asynchronous job includes a `job_guid` that you use on the [Async Jobs endpoint](#endpoint-async-jobs)
to query for the current status of the endpoint. This structure is almost identical to what is returned from the [Async Jobs endpoint](#endpoint-async-jobs).
Please refer to that endpoint for more details about obtaining the status of your job.

        {
            "request": {
                "status_code": 201,
                "status_message": "AsyncJobsCsvExport created successfully",
                "path": "/external/v1/places",
                "method": "GET",
                "format": "json",
                "params": {
                    "_async": "true"
                }
            },
            "data": {
                "id": 166,
                "job_guid": "3418c079-53dd-49da-a292-e8b6b1c3e443",
                "started_at": null,
                "completed_at": null,
                "failed_at": null,
                "error_type": null,
                "error_message": null,
                "download_url": null,
                "created_at": "2016-10-12T14:15:18.606-04:00",
                "updated_at": "2016-10-12T14:15:18.606-04:00",
                "file_size": null,
                "row_count": null,
                "status_url": "http://api.gospotcheck.com/external/v1/async_jobs/csv_exports/3418c079-53dd-49da-a292-e8b6b1c3e443/status"
            }
        }

## Export File Format

Currently the only file format supported for exporting all records via an asynchronous job is CSV. Once a job is completed, the response
body of the [Async Jobs endpoint](#endpoint-async-jobs) `status` request will return the `download_url` key that is the URL of the CSV.
For example, the above request will result in a file containing example data delimited by the default delimiter, with headers as follows:

`"download_url": "https://gospotcheck-csv-exports.s3.amazonaws.com/3418c079-53dd-49da-a292-e8b6b1c3e443_company_database_view_120161012-3-185q0i2.csv"`

Resulting CSV example:

    id,campaign_id,place_id,user_id,place_state,created_at
    23037,2848,1387270,8440,CO,2016-08-17 17:35:34.914505
    23038,2848,1387270,8440,CO,2016-08-17 17:49:11.850136
    23393,2848,1426954,8440,CO,2016-09-26 16:45:32.190473

## Export File Expiration

Currently all exports are set to expire **one week** after they are created at which point they will be inaccessible.

<a id="section-endpoint-documentation"></a>
#Endpoint Documentation

Documentation specific for each endpoint follows below. You may also use the links on the table on the right sidebar to navigate to any endpoint.

<a id="group-places-index"></a>
# Group Places
The Places endpoint allows you to add, delete, list and update places
for your company.

Remember:
- Places are your accounts or locations where mission responses are completed
- Places can be assigned to a Placegroup after they are created

## Places - Base Attributes
| Field                    | Type | Notes   |
|-----------------------------|-----|-----------|
|`id`                     |  int  | Unique GSC id  |
|`name`                     |  string  | Name of place, not unique |
|`address`                     |  string  | Street number and name - e.g. 123 Main St |
|`city`                     |  string  | City in which the place exists - e.g. Denver |
|`state`                     |  string  | State in which the place exists - e.g. CO or Colorado |
|`postal_code`                     |  string  | Zip or postal code in which the place exists - e.g. 80202 |
|`country`                     |  string  | Country in which the place exists, formatted according to the [ISO3166-1 alpha-2](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2) standard - e.g. US |
|`created_at`                     |  datetime  | When place was created in GSC   |
|`updated_at`                     |  datetime  | When place was last updated in GSC |
|`custom_place_id`                     |  string  | Your unique place identifier - e.g. TDLinx or Salesforce Account ID |
|`status`                     |  string  | Enabled places will appear in the mobile app, disabled places will not. Enabled places have a null status; disabled places have a status of 'disabled'. |
|`disabled_at`                     |  datetime  | If place is disabled (or has ever been disabled), field will display when it was last disabled  |
|`geocoding_disabled`                     |  boolean  | Indicates whether the place will be re-geocoded the next time it is updated - defaults to false |
|`metadata/properties`                     |  string  | Custom key/value pairs, key must be created by GSC but values can be pulled from the API |

## Available Includes for Places
For more info, see: [Includes & Methods](#section-includes-methods)

- `place_groups`
- `user_place_assignments`
- `assigned_users`

## Available Methods for Places
For more info, see: [Includes & Methods](#section-includes-methods)

- `place_group_ids`
- `company_id`

## Places [/external/v1/places]

### List all Places for company [GET]

+ Request (application/json)

    + Headers

            Authorization: Bearer 1234567890abcdef

+ Response 200 (application/json)

        {
            "request": {
                "status_code":200,
                "status_message":"OK",
                "path":"/external/v1/places",
                "method":"GET",
                "params":{}
            },
            "paging": {
                "next_page":null,
                "current_page":1,
                "previous_page":null,
                "per_page":25,
                "total_records":204,
                "first_timestamp":1403156620.0609322,
                "last_timestamp":1400008286.827591
            },
            "data":[
                {
                    "id": 1427912,
                    "name": "GoSpotCheck",
                    "address": "1520 Market St",
                    "city": "Denver",
                    "state": "CO",
                    "postal_code": "80202",
                    "country": "US",
                    "created_at": "2017-07-17T16:36:34.464-04:00",
                    "updated_at": "2017-07-17T16:36:34.464-04:00",
                    "custom_place_id": "example123",
                    "status": null,
                    "disabled_at": null,
                    "geocoding_disabled": false,
                    "place_property": "Place Property Value XYZ"
                },
                ...
            ]
        }


### Create a new Place or Multiple Places [POST]

The following attributes are permitted when creating a Place. All other attributes will be ignored.

| Field             | Type           | Required    | Notes  |
|-------------------|----------------|-------------|--------|
|`name`             | string         | Yes         | |
|`address`          | string         | Yes         | |
|`city`             | string         | Yes         | |
|`state`            | string         | Yes         | |
|`postal_code`      | string         | Yes          | |
|`country`          | string         | Yes          | |
|`coordinates`      | string         | Maybe       | Required if longitude/latitude are blank|
|`latitude`         | float          | Maybe       | Required if coordinates is blank|
|`longitude`        | float          | Maybe       | Required if coordinates is blank|
|`country`          | string         | Yes         | |
|`custom_place_id`  | int            | No          | |
|`status`           | string         | No          | Leave blank for active/enabled. Include 'disabled' to disable place.|

+ Request - Create One New Place (application/json)

    + Headers

            Authorization: Bearer 1234567890abcdef

    + Body

            {
                "name": "A Cool New Place",
                "address": "201 Ashton Way",
                "city": "Camden Town",
                "state": "KY",
                "postal_code": "24315",
                "country": "US"
            }

+ Response 201 - Create One New Place (application/json)

        {
            "request": {
                "status_code": 201,
                "status_message": "Place created successfully",
                "path": "/external/v1/places",
                "method": "POST",
                "format": "json",
                "params": {}
            },
            "data": {
                "id": 1427915,
                "name": "A Cool New Place",
                "address": "201 Ashton Way",
                "city": "Camden Town",
                "state": "KY",
                "postal_code": "24315",
                "country": "US",
                "created_at": "2017-07-17T16:59:22.659-04:00",
                "updated_at": "2017-07-17T16:59:22.659-04:00",
                "custom_place_id": null,
                "status": null,
                "disabled_at": null,
                "geocoding_disabled": false,
                "place_property": "Place Property Value XYZ"
            }
        }


+ Request - Create Multiple New Places (application/json)

    + Headers

            Authorization: Bearer 1234567890abcdef

    + Body

            {
                "places": [
                    {
                        "name":"A Cool New Place",
                        "address":"201 Ashton Way",
                        "city":"Camden Town",
                        "state":"KY",
                        "postal_code":"24315",
                        "country":"US"
                    },
                    {
                        "name":"A Cool Second Place",
                        "address":"1062 Delaware St",
                        "city":"Denver ",
                        "state":"CO",
                        "postal_code":"80204",
                        "country":"US"
                    }
                ]
            }


+ Response 201 - Create Multiple New Places (application/json)

        {
            "request": {
                "status_code": 201,
                "status_message": "Place created successfully",
                "path": "/external/v1/places",
                "method": "POST",
                "format": "json",
                "params": {}
            },
            "paging": {
                "next_page": null,
                "current_page": 1,
                "previous_page": null,
                "per_page": 25,
                "total_records": 2,
                "first_timestamp": 1500325632.3476932,
                "last_timestamp": 1500325632.421109
            },
            "data": [
                {
                    "id": 1427916,
                    "name": "A Cool New Place",
                    "address": "201 Ashton Way",
                    "city": "Camden Town",
                    "state": "KY",
                    "postal_code": "24315",
                    "country": "US",
                    "created_at": "2017-07-17T17:07:12.347-04:00",
                    "updated_at": "2017-07-17T17:07:12.347-04:00",
                    "custom_place_id": null,
                    "status": "pending",
                    "disabled_at": null,
                    "geocoding_disabled": false,
                    "place_property": "Place Property Value XYZ"
                },
                {
                    "id": 1427917,
                    "name": "A Cool Second Place",
                    "address": "1062 Delaware St",
                    "city": "Denver ",
                    "state": "CO",
                    "postal_code": "80204",
                    "country": "US",
                    "created_at": "2017-07-17T17:07:12.421-04:00",
                    "updated_at": "2017-07-17T17:07:12.421-04:00",
                    "custom_place_id": null,
                    "status": "pending",
                    "disabled_at": null,
                    "geocoding_disabled": false,
                    "place_property": "Place Property Value XYZ"
                }
            ],
            "errors": [
                null,
                null
            ]
        }


## Place [/external/v1/places/{id}]

### Request information for a single Place [GET]
NOTE: Specify GSC place id in the path - /external/v1/places/{id}

+ Request (application/json)

    + Headers

            Authorization: Bearer 1234567890abcdef

+ Response 200 (application/json)

        {
            "request": {
                "status_code": 200,
                "status_message": "OK",
                "path": "/external/v1/places/1427916",
                "method": "GET",
                "format": "json",
                "params": {}
            },
            "data": {
                "id": 1427916,
                "name": "A Cool New Place",
                "address": "201 Ashton Way",
                "city": "Camden Town",
                "state": "KY",
                "postal_code": "24315",
                "country": "US",
                "created_at": "2017-07-17T17:07:12.347-04:00",
                "updated_at": "2017-07-17T17:07:15.102-04:00",
                "custom_place_id": null,
                "status": null,
                "disabled_at": null,
                "geocoding_disabled": false,
                "place_property": “Place Property Value XYZ”
            }
        }


### Update an Existing Place [PUT]
NOTE: Specify GSC place id in the path - /external/v1/places/{id}

+ Request - Update an Existing Place (application/json)

    + Headers

            Authorization: Bearer 1234567890abcdef

    + Body

            {
                "name": "An updated place name"
            }


+ Response 201 - Update an Existing Place  (application/json)

        {
            "request": {
                "status_code": 200,
                "status_message": "Place id 1427916 updated successfully",
                "path": "/external/v1/places/1427916",
                "method": "PUT",
                "format": "json",
                "params": {}
            },
            "data": {
                "id": 1427916,
                "name": "An updated place name",
                "address": "201 Ashton Way",
                "city": "Camden Town",
                "state": "KY",
                "postal_code": "24315",
                "country": "US",
                "created_at": "2017-07-17T17:07:12.347-04:00",
                "updated_at": "2017-07-17T17:12:22.081-04:00",
                "custom_place_id": null,
                "status": null,
                "disabled_at": null,
                "geocoding_disabled": false,
                "place_property": "Place Property Value XYZ"
            }
        }

### Disable an existing Place [DELETE]
NOTE: Specify GSC place id in the path - /external/v1/places/{id}

IMPORTANT: Due to the amount of information associated to a place, we do not allow hard deletes of Places through the API. Use DELETE to disable a place. This will function the same as a PUT with a `status` of disabled. If you feel you need to hard delete place data, please contact your GoSpotCheck Customer Success Manager or [support@gospotcheck.com](mailto:support@gospotcheck.com).

+ Request (application/json)

    + Headers

            Authorization: Bearer 1234567890abcdef

+ Response 201 (application/json)

        {
            "request": {
                "status_code": 200,
                "status_message": "Place id 1427916 deleted successfully",
                "path": "/external/v1/places/1427916",
                "method": "DELETE",
                "format": "json",
                "params": {}
            },
            "data": {
                "id": 1427916,
                "name": "An updated place name",
                "address": "201 Ashton Way",
                "city": "Camden Town",
                "state": "KY",
                "postal_code": "24315",
                "country": "US",
                "created_at": "2017-07-17T17:07:12.347-04:00",
                "updated_at": "2017-07-17T17:13:55.099-04:00",
                "custom_place_id": null,
                "status": "disabled",
                "disabled_at": "2017-07-17T17:13:55.077-04:00",
                "geocoding_disabled": false,
                "place_property": "Place Property Value XYZ"
            }
        }


## Places - Index Fields Filtering [/external/v1/places?place_group_id.eq=7&company_id=2]

The following are all of the fields available to filter and sort Places for
your company. For explanations of field operators, please read the introduction on [Index Filtering](#section-api-requests-index-filtering).

| Field                | Type | Matchers                                   | Example                                   |
|----------------------|------|--------------------------------------------|-------------------------------------------|
| `name`               | string         | `.eq`, `.like`, `.ilike`, `.in`            | `name.eq=GSC Headquarters`                |
| `address`            | string         | `.eq`, `.like`, `.ilike`, `.in`            | `address.eq=1234 Wallace Way`             |
| `city`               | string         | `.eq`, `.like`, `.ilike`, `.in`            | `city.eq=Denver`                          |
| `state`              | string         | `.eq`, `.like`, `.ilike`, `.in`            | `state.eq=CO`                             |
| `postal_code`        | string         | `.eq`, `.like`, `.ilike`, `.in`            | `postal_code.eq=80215`                    |
| `country`            | string         | `.eq`, `.like`, `.ilike`, `.in`            | `country.eq=USA`                          |
| `custom_place_id`    | int            | `.eq`, `.in`                               | `custom_place_id.eq=12`                   |
| `place_group_id`     | int            | `.eq`, `.in`                               | `place_group_id.eq=1`                     |
| `campaign_id`        | int            | `.eq`, `.in`                               | `campaign_id.eq=1`                        |
| `id`                 | int            | `.eq`, `.gt`, `.gte`, `.lt`, `.lte`, `.in` | `id.eq=1`                                 |
| `created_at`         | unix timestamp | `.eq`, `.gt`, `.gte`, `.lt`, `.lte`        | `created_at.eq=1406236435.060687`         |
| `disabled_at`        | unix timestamp | `.eq`, `.gt`, `.gte`, `.lt`, `.lte`        | `disabled_at.eq=1406236435.060687`        |
| `updated_at`         | unix timestamp | `.eq`, `.gt`, `.gte`, `.lt`, `.lte`        | `updated_at.eq=1406236435.060687`         |

The Places index allows you to query for all places that belong to your company,
and includes a wide variety of filtering options to pull places



### List Places for place group 7 [GET]
+ Parameters
    + place_group_id.eq (optional, string, `7`) ... Request records that belong to the given place group.

+ Request (application/json)

    + Headers

            Authorization: Bearer 1234567890abcdef

+ Response 200 (application/json)

        {
            "request": {
                "status_code": 200,
                "status_message": "OK",
                "path": "/external/v1/places",
                "method": "GET",
                "format": "json",
                "params": {
                    "place_group_id.eq": "2166"
                }
            },
            "paging": {
                "next_page": null,
                "current_page": 1,
                "previous_page": null,
                "per_page": 25,
                "total_records": 1,
                "first_timestamp": 1480631136.648881,
                "last_timestamp": 1480631136.648881
            },
            "data": [
                {
                    "id": 1427004,
                    "name": "QAauto place",
                    "address": "1675 Larimer Square",
                    "city": "Denver",
                    "state": "CO",
                    "postal_code": "80202",
                    "country": "US",
                    "created_at": "2016-12-01T17:25:36.648-05:00",
                    "updated_at": "2016-12-01T17:25:36.648-05:00",
                    "custom_place_id": "Custom Place ID",
                    "status": null,
                    "disabled_at": null,
                    "geocoding_disabled": false,
                    "place_property": "Place Property Value XYZ"
                }
            ]
        }


## Places Index - Greater Than Matcher [/external/v1/places?created_at.gt=1407391200]

### List Places created after August 7, 2014, 12:00am UTC [GET]

+ Parameters
    + created_at.gt  (optional, integer or float, `1407391200`) ... Request records that were created after given Unix timestamp.

+ Request (application/json)

    + Headers

            Authorization: Bearer 1234567890abcdef

+ Response 200 (application/json)

        {
            "request": {
                "status_code": 200,
                "status_message": "OK",
                "path": "/external/v1/places",
                "method": "GET",
                "format": "json",
                "params": {
                    "created_at.gt": "1499990400"
                }
            },
            "paging": {
                "next_page": null,
                "current_page": 1,
                "previous_page": null,
                "per_page": 25,
                "total_records": 9,
                "first_timestamp": 1500323067.2395608,
                "last_timestamp": 1500325632.347693
            },
            "data": [
                {
                    "id": 1427909,
                    "name": "Magic Mart",
                    "address": "123 main st",
                    "city": "denver",
                    "state": "colorado",
                    "postal_code": null,
                    "country": null,
                    "created_at": "2017-07-17T16:24:27.239-04:00",
                    "updated_at": "2017-07-17T16:24:27.239-04:00",
                    "custom_place_id": null,
                    "status": null,
                    "disabled_at": null,
                    "geocoding_disabled": false,
                    "place_property": “Place Property Value XYZ”
                },
                {
                    "id": 1427912,
                    "name": "GoSpotCheck",
                    "address": "1520 Market St",
                    "city": "Denver",
                    "state": "CO",
                    "postal_code": "80202",
                    "country": "US",
                    "created_at": "2017-07-17T16:36:34.464-04:00",
                    "updated_at": "2017-07-17T16:36:34.464-04:00",
                    "custom_place_id": "example123",
                    "status": null,
                    "disabled_at": null,
                    "geocoding_disabled": false,
                    "place_property": “Place Property Value XYZ”
                },
                ...
            ]
        }


## Places Index - Sorting [/external/v1/places{?sort_by,sort_direction}]

### Sort by `created_at` `desc` [GET]
+ Parameters
    + sort_by (optional, string, `created_at`) ... Sort results by given field
    + sort_direction (optional, string, `desc`) ... Set sort direction of `asc` or `desc`. Required if `sort_by` present.
        + Values
            + `asc`
            + `desc`

+ Request (application/json)

    + Headers

            Authorization: Bearer 1234567890abcdef

+ Response 200 (application/json)

        {
            "request": {
                "status_code": 200,
                "status_message": "OK",
                "path": "/external/v1/places",
                "method": "GET",
                "format": "json",
                "params": {
                    "sort_by": "created_at",
                    "sort_direction": "asc"
                }
            },
            "paging": {
                "next_page": 2,
                "current_page": 1,
                "previous_page": null,
                "per_page": 25,
                "total_records": 798144,
                "first_timestamp": 1365702232.966836,
                "last_timestamp": 1370020913.854909
            },
            "data": [
                {
                    "id": 1,
                    "name": "test place",
                    "address": "55293 Mante Brooks",
                    "city": "New Marquisport",
                    "state": "NY",
                    "postal_code": "50509-2972",
                    "country": "US",
                    "created_at": "2013-04-11T13:43:52.966-04:00",
                    "updated_at": "2017-07-06T11:06:46.053-04:00",
                    "custom_place_id": "place 90",
                    "status": null,
                    "disabled_at": null,
                    "geocoding_disabled": false,
                    "place_property": "Place Property Value XYZ"
                },
                {
                    "id": 2,
                    "name": "Company place #1",
                    "address": "7538 Porter Mission",
                    "city": "North Alia",
                    "state": "IN",
                    "postal_code": "71772-3683",
                    "country": "US",
                    "created_at": "2013-04-11T13:43:53.057-04:00",
                    "updated_at": "2013-04-11T13:43:53.057-04:00",
                    "custom_place_id": "place 95",
                    "status": null,
                    "disabled_at": null,
                    "geocoding_disabled": false,
                    "place_property": “Place Property Value XYZ”
                }
            ]
        }

## Places Index - Paging [/external/v1/places?page=[##]&per_page=[##]]

### Request page 50 of results with 2 results per page [GET]

+ Parameters
    + page (optional, string, `50`) ... Page of results to return
    + per_page (optional, string, `2`) ... Set the number of records to return in each page of the response

+ Request (application/json)

    + Headers

            Authorization: Bearer 1234567890abcdef

+ Response 200 (application/json)

        {
            "request": {
                "status_code": 200,
                "status_message": "OK",
                "path": "/external/v1/places",
                "method": "GET",
                "format": "json",
                "params": {
                    "page": "50",
                    "per_page": "2"
                }
            },
            "paging": {
                "next_page": 51,
                "current_page": 50,
                "previous_page": 49,
                "per_page": 2,
                "total_records": 798144,
                "first_timestamp": 1406214472.4797618,
                "last_timestamp": 1406214492.3546371
            },
            "data": [
                {
                    "id": 1200945,
                    "name": "Wal Mart Supercenter",
                    "address": "2100 N Bechtle Ave",
                    "city": "Springfield",
                    "state": "OH",
                    "postal_code": "455041584",
                    "country": "US",
                    "created_at": "2014-07-24T11:07:52.479-04:00",
                    "updated_at": "2014-07-24T11:07:52.479-04:00",
                    "custom_place_id": "2001488",
                    "status": null,
                    "disabled_at": null,
                    "geocoding_disabled": false,
                    "place_property": "Place Property Value XYZ"
                },
                {
                    "id": 1201050,
                    "name": "Sylvania Corner Mart",
                    "address": "3342 Highway 321 N",
                    "city": "Ward",
                    "state": "AR",
                    "postal_code": "72176",
                    "country": "US",
                    "created_at": "2014-07-24T11:08:12.354-04:00",
                    "updated_at": "2014-07-24T11:08:12.354-04:00",
                    "custom_place_id": "2004977",
                    "status": null,
                    "disabled_at": null,
                    "geocoding_disabled": false,
                    "place_property": "Place Property Value XYZ"
                }
            ]
        }


# Group PlaceGroups
<a id="group-placegroups-index"></a>
The PlaceGroups endpoint allows you to add,delete, list and update place groups
for your company.

Remember:
- Placegroups are groups of places to which a mission is deployed.
- Places are added to the “All” Placegroup by default.
- Placegroups do not have metadata/properties
- Placegroups cannot be disabled, use caution when deleting a placegroup as this action cannot be undone.

## Placegroups - Base Attributes
| Field                    | Type | Notes   |
|-----------------------------|-----|-----------|
|`id`                     |  int  | Unique GSC id  |
|`name`                     |  string  | Name of placegroup, must be unique |
|`created_at`                     |  datetime  | When placegroup was created in GSC   |
|`updated_at`                     |  datetime  | When placegroup was last updated in GSC |

## Available Includes for PlaceGroups
For more info, see: [Includes & Methods](#section-includes-methods)

- none

## Available Methods for PlaceGroups
For more info, see: [Includes & Methods](#section-includes-methods)

- `company_id`

## PlaceGroups [/external/v1/place_groups]

### List all PlaceGroups for company [GET]

+ Request - All Placegroups (application/json)

    + Headers

            Authorization: Bearer 1234567890abcdef

+ Response 200 - All Placegroups (application/json)

        {
            "request": {
                "status_code": 200,
                "status_message": "OK",
                "path": "/external/v1/place_groups",
                "method": "GET",
                "format": "json",
                "params": {}
            },
            "paging": {
                "next_page": 2,
                "current_page": 1,
                "previous_page": null,
                "per_page": 25,
                "total_records": 53,
                "first_timestamp": 1466029856.0880451,
                "last_timestamp": 1416517418.421474
            },
            "data": [
                {
                    "id": 1209,
                    "name": "Denver Only",
                    "created_at": "2014-04-03T12:00:08.076-04:00",
                    "updated_at": "2014-04-03T12:00:08.076-04:00"
                },
                {
                    "id": 1210,
                    "name": "Galvanize Only",
                    "created_at": "2014-04-03T12:01:43.483-04:00",
                    "updated_at": "2014-04-03T12:20:54.653-04:00"
                },
                {
                    "id": 1322,
                    "name": "Old Places",
                    "created_at": "2014-11-20T16:03:38.421-05:00",
                    "updated_at": "2014-11-20T16:03:38.421-05:00"
                }
                ...
            ]
        }


### Create a new PlaceGroup [POST]

The following attributes are permitted when creating a PlaceGroup. All other attributes will be ignored.

| Field             | Type           | Required    | Notes  |
|-------------------|----------------|-------------|--------|
|`name`             | string         | Yes         | Must be unique |


+ Request - Create New Placegroup (application/json)

    + Headers

            Authorization: Bearer 1234567890abcdef

    + Body

{
"name": "Brand New Placegroup"
}


+ Response 201 - Create New Placegroup  (application/json)

        {
            "request": {
                "status_code": 201,
                "status_message": "PlaceGroup created successfully",
                "path": "/external/v1/place_groups",
                "method": "POST",
                "format": "json",
                "params": {}
            },
            "data": {
                "id": 2247,
                "name": "Brand New Placegroup",
                "created_at": "2017-07-17T17:41:50.598-04:00",
                "updated_at": "2017-07-17T17:41:50.598-04:00"
            }
        }

## PlaceGroup [/external/v1/place_groups/{id}]

### Request information for a single PlaceGroup [GET]
NOTE: You must specify the GSC Placegroup ID in the path: /external/v1/place_groups/{id}

+ Request - Single Placegroup (application/json)

    + Headers

            Authorization: Bearer 1234567890abcdef

+ Response 200 - Single Placegroup (application/json)

        {
            "request": {
                "status_code": 200,
                "status_message": "OK",
                "path": "/external/v1/place_groups/2247",
                "method": "GET",
                "format": "json",
                "params": {}
            },
            "data": {
                "id": 2247,
                "name": "Brand New Placegroup",
                "created_at": "2017-07-17T17:41:50.598-04:00",
                "updated_at": "2017-07-17T17:41:50.598-04:00"
            }
        }

### Update an existing PlaceGroup [PUT]
NOTE: You must specify the GSC Placegroup ID in the path: /external/v1/place_groups/{id}

+ Request (application/json)

    + Headers

            Authorization: Bearer 1234567890abcdef

    + Body

            {
            "name": "Updated Placegroup Name"
            }


+ Response 200 (application/json)

        {
            "request": {
                "status_code": 200,
                "status_message": "PlaceGroup id 2247 updated successfully",
                "path": "/external/v1/place_groups/2247",
                "method": "PUT",
                "format": "json",
                "params": {}
            },
            "data": {
                "id": 2247,
                "name": "Updated Placegroup Name",
                "created_at": "2017-07-17T17:41:50.598-04:00",
                "updated_at": "2017-07-17T17:43:54.827-04:00"
            }
        }

### Delete an existing PlaceGroup [DELETE]
NOTE: You must specify the GSC Placegroup ID in the path: /external/v1/place_groups/{id}

IMPORTANT: This action cannot be undone, use caution.

+ Request (application/json)

    + Headers

            Authorization: Bearer 1234567890abcdef

+ Response 201 (application/json)

        {
            "request": {
                "status_code": 200,
                "status_message": "PlaceGroup id 2247 deleted successfully",
                "path": "/external/v1/place_groups/2247",
                "method": "DELETE",
                "format": "json",
                "params": {}
            },
            "data": {
                "id": 2247,
                "name": "Updated Placegroup Name",
                "created_at": "2017-07-17T17:41:50.598-04:00",
                "updated_at": "2017-07-17T17:43:54.827-04:00"
            }
        }


## PlaceGroups - Add Places [/external/v1/place_groups/{id}/add_places{?place_ids}]

This endpoint allows you to add places to a given place group. Place IDs are passed as
comma-separated IDs and the response data contains status as to whether or not places were
successfully added to the place group.

This method will always return a 200 and the status of adding individual
places to the given place group will be reported in the `data` response hash.

* `place_ids_added` - Places successfully added to given place group
* `place_ids_missing` - Given place IDs that do not exist
* `place_ids_existing` - Place IDs already in given place group


### Add places to PlaceGroup [PUT]

+ Parameters
    + place_ids (required, list of IDs, `3,4,5`) ... Place IDs to add to place group

+ Request (application/json)

    + Headers

            Authorization: Bearer 1234567890abcdef

    + Body

            {
                place_ids: "3,4,5"
            }

+ Response 200 (application/json)

        {
            "request":{
                "status_code":200,
                "status_message":"OK",
                "path":"/external/v1/place_groups/28/add_places",
                "method":"PUT",
                "params":{
                    "place_ids":"3,4,5"
                }
            },
            "data":{
                "place_ids_added":[3,4,5],
                "place_ids_missing":[],
                "place_ids_existing":[]
            }
        }

## PlaceGroups - Remove Places [/external/v1/place_groups/{id}/remove_places{?place_ids}]

This endpoint allows you to remove places from a given place group. Place IDs are passed as
comma-separated IDs and the response data contains status as to whether or not places were
successfully removed from the place group.

This method will always return a 200 and the status of removing individual
places from the given place group will be reported in the `data` response hash.

* `place_ids_removed` - Places successfully removed from given place group
* `place_ids_missing` - Given place IDs that do not exist


### Remove places from PlaceGroup [PUT]

+ Parameters
    + place_ids (required, list of IDs, `3,4,5`) ... Place IDs to remove from place group

+ Request (application/json)

    + Headers

            Authorization: Bearer 1234567890abcdef

    + Body

            {
                place_ids: "4,5,6"
            }

+ Response 200 (application/json)

        {
            "request":{
                "status_code":200,
                "status_message":"OK",
                "path":"/external/v1/place_groups/28/remove_places",
                "method":"PUT",
                "params":{
                    "place_ids":"4,5,6"
                }
            },
            "data":{
                "place_ids_removed":[4,5],
                "place_ids_missing":[6]
            }
        }


## PlaceGroups - Index Fields Filtering [/external/v1/place_groups?parent_id.eq=4]

The following are all of the fields available to filter and sort PlaceGroups for
your company. For explanations of matchers, please read the introduction on [index matchers](#intro-index-requests-matchers).

| Field                | Type           | Matchers                                   | Example                                   |
|----------------------|----------------|--------------------------------------------|-------------------------------------------|
| `name`               | string         | `.eq`, `.like`, `.ilike`, `.in`            | `name.eq=Northeast Places`                |
| `id`                 | int            | `.eq`, `.gt`, `.gte`, `.lt`, `.lte`, `.in` | `id.eq=1`                                 |
| `created_at`         | unix timestamp | `.eq`, `.gt`, `.gte`, `.lt`, `.lte`        | `created_at.eq=1406236435.060687`         |
| `updated_at`         | unix timestamp | `.eq`, `.gt`, `.gte`, `.lt`, `.lte`        | `updated_at.eq=1406236435.060687`         |

### List place groups with parent_id=4 [GET]

+ Parameters
    + parent_id.eq  (optional, integer, `4`) ... Request records that have parent_id = 4

+ Request (application/json)

    + Headers

            Authorization: Bearer 1234567890abcdef

+ Response 200 (application/json)

        {
            "request":{
                "status_code":200,
                "status_message":"OK",
                "path":"/external/v1/place_groups",
                "method":"GET",
                "params":{
                    "parent_id.eq":"4"
                }
            },
            "paging":{
                "next_page":null,
                "current_page":1,
                "previous_page":null,
                "per_page":25,
                "total_records":10,
                "first_timestamp":1400008286.9147751,
                "last_timestamp":1400008452.815829
            },
            "data":[
                {
                    "id":3,
                    "name":"Bedrockville",
                    "created_at":"2014-05-13T15:11:26-04:00",
                    "updated_at":"2014-05-13T15:11:26-04:00"
                },
                ...
            ]
        }


# Group Users
<a id="group-users-index"></a>
The Users endpoint allows you to add, list and update users for your company.

Remember:
- Users are the people at your company with access to the GoSpotCheck mobile and/or web apps
- Users can be assigned to one or more Teams after they are created
- Users can have multiple company memberships in GoSpotCheck
- Calls will time out after 30 seconds, make sure to set bounds for your calls to get small sections of data at a time.

## Users - Base Attributes
| Field                       | Type     | Notes        | Matchers    | Examples (With Limits) |
|-----------------------------|----------|--------------|-------------|------------------------------|
|`id`                         |  int     | Unique GSC id              | `.eq`, `.in` | `id.eq=1`, `id.in=1,2` |
|`email`                      |  string  | User email, must be unique | `.eq`, `.in`, `.like`, `.ilike` | `email.eq=joe.user@acme.com` |
|`first_name`                 |  string  | First name of the user    | N/A | Not Filterable. |
|`last_name`                  |  string  | Last name of the user     | N/A | Not Filterable. |
|`phone`                      |  string  | Phone number for the user | N/A | Not Filterable. |
|`company_membership_role`    |  string  || `.eq`, `.in` | `company_membership_role.eq=company_manager`, `company_membership_role.in=manager` |
|`created_at`                 | unix timestamp || `.eq`, `.lt`, `.lte`, `.gt`, `.gte` | `created_at.eq=1406236435.060687`, `created_at.lt=1636730822&created_at.gt=1636471622` |
|`updated_at`                 | unix timestamp || `.eq`, `.gt`, `.gte`, `.lt`, `.lte` | `updated_at.eq=1406236435.060687`, `updated_at.lt=1636730822&updated_at.gt=1636471622` |
|`team_id`                    |  int     || `.eq`, `.in` | `team_id.eq=2` |
|`disabled`                   |  `null` or `notnull`  | Status of the user in the company | `.eq` | `disabled.eq=null` |
|`metadata/properties`        |  string  | Custom key/value pairs, key must be created by GSC but values can be pulled from the API |||


## Available Includes for Users
For more info, see: [Includes & Methods](#section-includes-methods)

- `teams`
- `user_place_assignments`
- `assigned_places`

## Available Methods for Users
For more info, see: [Includes & Methods](#section-includes-methods)

- `team_ids`

## Create Users
NOTE: If you attempt to create a user and receive an “Email has already been taken” error, reach out to your GoSpotCheck Customer Success Manager or support@gospotcheck.com for help with adding these users to the system.

NOTE: We are removing the ability to set passwords when creating or updating users. Newly created users must be sent an invitation email through the admin interface or go through the password reset flow on the sign in screen.
The following attributes are permitted when creating a User. All other attributes will be ignored.

| Field                    | Type           | Required    | Notes|
|--------------------------|----------------|-------------|--------|
|`email`                   | string         | Yes         ||
|`first_name`              | string         | Yes         ||
|`last_name`               | string         | Yes         ||
|`phone`                   | string         | No          ||
|`send_user_invitation`    | boolean        | No          | Sends the user an email to use GoSpotCheck, defaults to `false` unless explicitly set to `true`|

### POST
#### Create New User
##### [/external/v1/users]

+ Request - Create New User (application/json)

    + Headers

            Authorization: Bearer 1234567890abcdef

    + Body

            {
                "email": "adminnew@gospotcheck.com",
                "first_name": "Alice",
                "last_name": "Murray"
            }

+ Response 201 - Create New User (application/json)

        {
            "request": {
                "status_code": 201,
                "status_message": "User created successfully",
                "path": "/external/v1/users",
                "method": "POST",
                "format": "json",
                "params": {}
            },
            "data": {
                "id": 8853,
                "email": "adminnew@gospotcheck.com",
                "created_at": "2017-07-17T17:59:32.204-04:00",
                "updated_at": "2017-07-17T17:59:32.204-04:00",
                "first_name": "Alice",
                "last_name": "Murray",
                "phone": null,
                "user_property": "User Property Value ABC"
            }
        }

#### Create Multiple New Users
##### [/external/v1/users]

+ Request - Create Multiple Users (application/json)

    + Headers

            Authorization: Bearer

    + Body

            {
               "users": [
                  {
                     "email": "user1@gospotcheck.com",
                     "first_name": "Bill",
                     "last_name": "Smith"
                  },
                  {
                     "email": "jill.user@acme.com",
                     "first_name": "Jill",
                     "last_name": "User"
                  }
               ]
            }


+ Response 201 - Create Multiple Users (application/json)

        {
            "request": {
                "status_code": 201,
                "status_message": "User created successfully",
                "path": "/external/v1/users",
                "method": "POST",
                "format": "json",
                "params": {}
            },
            "paging": {
                "next_page": null,
                "current_page": 1,
                "previous_page": null,
                "per_page": 25,
                "total_records": 2,
                "first_timestamp": 1500329191.3187606,
                "last_timestamp": 1500329191.4413404
            },
            "data": [
                {
                    "id": 8854,
                    "email": "user1@gospotcheck.com",
                    "created_at": "2017-07-17T18:06:31.318-04:00",
                    "updated_at": "2017-07-17T18:06:31.318-04:00",
                    "first_name": "Bill",
                    "last_name": "Smith",
                    "phone": null,
                    "user_property": "User Property Value ABC"
                },
                {
                    "id": 8855,
                    "email": "jill.user@acme.com",
                    "created_at": "2017-07-17T18:06:31.441-04:00",
                    "updated_at": "2017-07-17T18:06:31.441-04:00",
                    "first_name": "Jill",
                    "last_name": "User",
                    "phone": null,
                    "user_property": "User Property Value ABC"
                }
            ],
            "errors": [
                null,
                null
            ]
        }

## List Users And User Info
### GET
#### All Company Users
##### [/external/v1/users]

+ Request (application/json)

    + Headers

            Authorization: Bearer 1234567890abcdef

+ Response 200 (application/json)

        {
            "request": {
                "status_code": 200,
                "status_message": "OK",
                "path": "/external/v1/users",
                "method": "GET",
                "format": "json",
                "params": {}
            },
            "paging": {
                "next_page": 2,
                "current_page": 1,
                "previous_page": null,
                "per_page": 25,
                "total_records": 2165,
                "first_timestamp": 1365702232.217776,
                "last_timestamp": 1373921818.364884
            },
            "data": [
                {
                    "id": 1,
                    "email": "admin@gospotcheck.com",
                    "created_at": "2013-04-11T13:43:52.217-04:00",
                    "updated_at": "2017-07-10T16:11:49.953-04:00",
                    "first_name": "Nikki",
                    "last_name": "Gottlieb",
                    "phone": null,
                    "user_property": "User Property Value ABC"
                },
              ...
            ]
        }


#### Get Current User
##### [/external/v1/users/me]
##### Request information for user currently logged into the API 

The oauth token used to access the API is attached to a specific user. Use this
endpoint to retrieve information about this 'current' user.

+ Request (application/json)

    + Headers

            Authorization: Bearer 1234567890abcdef

+ Response 200 (application/json)

        {
            "request": {
                "status_code": 200,
                "status_message": "OK",
                "path": "/external/v1/users/me",
                "method": "GET",
                "format": "json",
                "params": {}
            },
            "data": {
                "id": 2,
                "email": "wilma_admin@acme.com",
                "created_at": "2014-05-13T15:11:26.448-04:00",
                "updated_at": "2014-10-24T15:53:31.966-04:00",
                "first_name": "Wilma",
                "last_name": "Flintstone",
                "phone": null
               "user_property": "User Property Value ABC"
            }
        }

#### Get Company Admin Users
##### [/external/v1/users/company_membership_role.eq = company_admin]

+ Parameters
    + company_membership_role.eq  (optional, integer, `company_admin`) ... Request records that have company_membership_role = company_admin

+ Request (application/json)

    + Headers

            Authorization: Bearer 1234567890abcdef

+ Response 200 (application/json)

        {
            "request": {
                "status_code": 200,
                "status_message": "OK",
                "path": "/external/v1/users",
                "method": "GET",
                "format": "json",
                "params": {
                    "company_membership_role.eq": "company_user"
                }
            },
            "paging": {
                "next_page": 2,
                "current_page": 1,
                "previous_page": null,
                "per_page": 25,
                "total_records": 2068,
                "first_timestamp": 1480975199.2004879,
                "last_timestamp": 1389281859.101367
            },
            "data": [
                {
                    "id": 8716,
                    "email": "cbernhardt+1@gospotcheck.com",
                    "created_at": "2016-12-05T16:59:59.200-05:00",
                    "updated_at": "2016-12-05T17:03:52.737-05:00",
                    "first_name": "Chase",
                    "last_name": "Bernhardt",
                    "phone": "",
                    "user_property": "User Property Value ABC"
                },
                {
                    "id": 3253,
                    "email": "mark.thompson@example.com",
                    "created_at": "2014-01-09T10:37:36.037-05:00",
                    "updated_at": "2014-01-09T10:37:36.037-05:00",
                    "first_name": "Mark",
                    "last_name": "Thompson",
                    "phone": null,
                    "user_property": "User Property Value ABC"
                },
                  ...
            ]
        }

#### Get Information For A Single User
##### [/external/v1/users/{id}]

NOTE: You must specify the GSC User id in the path: [/external/v1/users/{id}]

+ Request (application/json)

    + Headers

            Authorization: Bearer 1234567890abcdef

+ Response 200 - Request single user (application/json)

        {
            "request": {
                "status_code": 200,
                "status_message": "OK",
                "path": "/external/v1/users/8854",
                "method": "GET",
                "format": "json",
                "params": {}
            },
            "data": {
                "id": 8854,
                "email": "user1@gospotcheck.com",
                "created_at": "2017-07-17T18:06:31.318-04:00",
                "updated_at": "2017-07-17T18:06:31.318-04:00",
                "first_name": "Bill",
                "last_name": "Smith",
                "phone": null,
                "user_property": "User Property Value ABC"
            }
        }

#### Get User Company Permissions
##### [/external/v1/users/{id}/permissions]

This endpoint allows for viewing of a requested user's permissions. The given id
may be an integer or "me" like the above method to view your own permissions. Possible
roles that may be returned are as follows:
- company_admin
- company_manager
- company_user

This endpoint also returns whether or not a user is disabled.

**Note:** Only GoSpotcheck admin users or company_admin users may view permissions
for users other than themselves.

+ Request (application/json)

    + Headers

            Authorization: Bearer 1234567890abcdef

+ Response 200 (application/json)

        {
            "request": {
                "status_code": 200,
                "status_message": "OK",
                "path": "/external/v1/users/84/permissions",
                "method": "GET",
                "format": "json",
                "params": {}
            },
            "data": {
                "role": "company_user",
                "disabled": "false",
                "disabled_at": null,
                "company_id": 1
            }
        }

## Update Users
### PUT
#### Update An Existing User
##### [/external/v1/users/{id}]

NOTE: Are you trying to enable or disable users? See `User Permissions` endpoint.
NOTE: You must specify the GSC User id in the path: [/external/v1/users/{id}]

+ Request - Update an Existing User (application/json)

    + Headers

            Authorization: Bearer 1234567890abcdef

    + Body

            {
               "phone":"555-567-8946"
            }

+ Response 200 - Update an Existing User (application/json)

        {
            "request": {
                "status_code": 200,
                "status_message": "User id 8854 updated successfully",
                "path": "/external/v1/users/8854",
                "method": "PUT",
                "format": "json",
                "params": {}
            },
            "data": {
                "id": 8854,
                "email": "user1@gospotcheck.com",
                "created_at": "2017-07-17T18:06:31.318-04:00",
                "updated_at": "2017-07-17T18:10:08.583-04:00",
                "first_name": "Bill",
                "last_name": "Smith",
                "phone": "555-567-8946",
                "user_property": "User Property Value ABC"
            }
        }

#### Update User Company Permissions
##### [/external/v1/users/{id}]

NOTE: 
- You must specify the GSC User id in the path: [/external/v1/users/{id}/permissions]
- The `company_manager` role can only be assigned if Role Based Access is enabled.

+ Request (application/json)

    + Headers

            Authorization: Bearer 1234567890abcdef

    + Body

            {
                    "role": "company_admin",
                    "disabled": "true"
            }


+ Response 200 (application/json)

        {
            "request": {
                "status_code": 200,
                "status_message": "Permissions for user id 84 updated successfully",
                "path": "/external/v1/users/84/permissions",
                "method": "PUT",
                "format": "json",
                "params": {}
            },
            "data": {
                "role": "company_admin",
                "disabled": "true",
                "disabled_at": "2017-07-17T22:33:59.058+00:00",
                "company_id": 1
            }
        }


# Group Teams
<a id="group-teams-index"></a>
The Teams endpoint allows you to add, delete, list and update teams
for your company.

Remember:
- Teams are groups of people to which you deploy missions.
- Users are added to the “All” Team by default.
- Teams do not have metadata/properties.
- Teams cannot be disabled, use caution when deleting a team as this action cannot be undone.

## Teams - Base Attributes
| Field                    | Type | Notes   |
|-----------------------------|-----|-----------|
|`id`                     |  int  | Unique GSC id  |
|`name`                     |  string  | Name of team, must be unique |
|`created_at`                     |  datetime  | When team was created in GSC   |
|`updated_at`                     |  datetime  | When team was last updated in GSC |


## Available Includes for Teams
For more info, see: [Includes & Methods](#section-includes-methods)

- `team_members`

## Available Methods for Teams
For more info, see: [Includes & Methods](#section-includes-methods)

- `company_id`

## Teams [/external/v1/teams]

### List all Teams for company [GET]

+ Request (application/json)

    + Headers

            Authorization: Bearer 1234567890abcdef

+ Response 200 (application/json)

        {
            "request":{
                "status_code":200,
                "status_message":"OK",
                "path":"/external/v1/teams",
                "method":"GET",
                "params":{}
            },
            "paging":{
                "next_page":null,
                "current_page":1,
                "previous_page":null,
                "per_page":25,
                "total_records":4,
                "first_timestamp":1400008286.804359,
                "last_timestamp":1400008286.267657
            },
            "data":[
                {
                    "id":4,
                    "name":"Rubbles",
                    "created_at":"2014-05-13T15:11:26-04:00",
                    "updated_at":"2014-05-13T15:11:26-04:00"
                },
                ...
            ]
        }


### Create a new Team [POST]

The following attributes are permitted when creating a Team. All other attributes will be ignored.

| Field                    | Type           | Required    | Notes|
|--------------------------|----------------|-------------|--------|
|`name`                   | string         | Yes         | Must be unique |


+ Request (application/json)

    + Headers

            Authorization: Bearer 1234567890abcdef

    + Body

            {
                name: "Company Administrators",
            }

+ Response 201 (application/json)

        {
            "request":{
                "status_code":201,
                "status_message":"Team created successfully",
                "path":"/external/v1/teams",
                "method":"POST",
                "params":{
                    "name":"Company Administrators"
                }
            },
            "data":{
                "id":25,
                "name":"Company Administrators",
                "created_at":"2014-08-13T17:02:37-04:00",
                "updated_at":"2014-08-13T17:02:37-04:00"
            }
        }

## Team [/external/v1/teams/{id}]

### Request information for a single Team [GET]
NOTE: You must specify the GSC Team id in the path: [/external/v1/teams/{id}]

+ Request - Info for One Team (application/json)

    + Headers

            Authorization: Bearer 1234567890abcdef

+ Response 200 - Info for One Team (application/json)

        {
            "request":{
                "status_code":200,
                "status_message":"OK",
                "path":"/external/v1/teams/25",
                "method":"GET",
                "params":{}
            },
            "data":{
                "id":25,
                "name":"Company Administrators",
                "created_at":"2014-08-13T17:02:37-04:00",
                "updated_at":"2014-08-13T17:02:37-04:00"
            }
        }

### Update an existing Team [PUT]
NOTE: You must specify the GSC Team id in the path: [/external/v1/teams/{id}]

+ Request - Update an Existing Team (application/json)

    + Headers

            Authorization: Bearer 1234567890abcdef

    + Body

            {
                name: "Company Admins",
            }

+ Response 200 - Update an Existing Team (application/json)

        {
            "request": {
                "status_code":200,
                "status_message":"Team id 25 updated successfully",
                "path":"/external/v1/teams/25",
                "method":"PUT",
                "params":{
                    "name":"Company Admins"
                }
            },
            "data":{
                "id":25,
                "name":"Company Admins",
                "created_at":"2014-08-13T17:02:37-04:00",
                "updated_at":"2014-08-13T17:04:52-04:00"
            }
        }


### Delete an existing Team [DELETE]
+ Request (application/json)

    + Headers

            Authorization: Bearer 1234567890abcdef

+ Response 200 (application/json)

        {
            "request":{
                "status_code":200,
                "status_message":"Team id 25 deleted successfully",
                "path":"/external/v1/teams/25",
                "method":"DELETE",
                "params":{}
            },
            "data":{
                "id":25,
                "name":"Company Admins",
                "created_at":"2014-08-13T17:02:37-04:00",
                "updated_at":"2014-08-13T17:04:52-04:00"
            }
        }

## Teams - Add Users [/external/v1/teams/{id}/add_users{?user_ids}]

This endpoint allows you to add users to a given team. User IDs are passed as
comma-separated IDs and the response data contains status as to whether or not users were
successfully added to the team.

This method will always return a 200 and the status of adding individual
users to the given team will be reported in the `data` response hash.

* `user_ids_added` - Users successfully added to given taem
* `user_ids_missing` - Given user IDs that do not exist
* `user_ids_existing` - User IDs already in given team


### Add users to Team [PUT]

+ Parameters
    + user_ids (required, list of IDs, `3,4,5`) ... User IDs to add to team

+ Request (application/json)

    + Headers

            Authorization: Bearer 1234567890abcdef

    + Body

            {
                user_ids: "3,4,5"
            }

+ Response 200 (application/json)

        {
            "request":{
                "status_code":200,
                "status_message":"OK",
                "path":"/external/v1/teams/26/add_users",
                "method":"PUT",
                "params":{
                    "user_ids":"3,4,5"
                }
            },
            "data":{
                "user_ids_added":[5,4,3],
                "user_ids_missing":[],
                "user_ids_existing":[]
            }
        }

## Teams - Remove Users [/external/v1/teams/{id}/remove_users{?user_ids}]

This endpoint allows you to remove users from a given team. User IDs are passed as
comma-separated IDs and the response data contains status as to whether or not users were
successfully removed from the team.

This method will always return a 200 and the status of removing individual
users from the given team will be reported in the `data` response hash.

* `user_ids_removed` - User successfully removed from given team
* `user_ids_missing` - Given user IDs that do not exist


### Remove users from a Team [PUT]

+ Parameters
    + user_ids (required, list of IDs, `4,5,6`) ... User IDs to remove from team

+ Request (application/json)

    + Headers

            Authorization: Bearer 1234567890abcdef

    + Body

            {
                user_ids: "4,5,6"
            }

+ Response 200 (application/json)

        {
            "request":{
                "status_code":200,
                "status_message":"OK",
                "path":"/external/v1/teams/26/remove_users",
                "method":"PUT",
                "params":{
                    "user_ids":"4,5,6"
                }
            },
            "data":{
                "user_ids_removed":[5,4],
                "user_ids_missing":[6]
            }
        }


## Teams - Index Fields Filtering [/external/v1/teams?parent_id.eq=4]

The following are all of the fields available to filter and sort Teams for
your company. For explanations of matchers, please read the introduction on [index matchers](#intro-index-requests-matchers).

| Field                | Type           | Matchers                                   | Example                                   |
|----------------------|----------------|--------------------------------------------|-------------------------------------------|
| `name`               | string         | `.eq`, `.like`, `.ilike`, `.in`            | `name.eq=Company Managers`                |
| `id`                 | int            | `.eq`, `.gt`, `.gte`, `.lt`, `.lte`, `.in` | `id.eq=1`                                 |
| `created_at`         | unix timestamp | `.eq`, `.gt`, `.gte`, `.lt`, `.lte`        | `created_at.eq=1406236435.060687`         |
| `updated_at`         | unix timestamp | `.eq`, `.gt`, `.gte`, `.lt`, `.lte`        | `updated_at.eq=1406236435.060687`         |


# Group Missions
<a id="group-missions-index"></a>
The Missions endpoint allows you to list Missions for your company.

Remember:
- Missions are synonymous with campaigns throughout the API
- Missions are the surveys/audits that go to the mobile apps for reps to complete
- Missions contain sections, which contain tasks
- Calls will time out after 30 seconds, be sure to get small sets of data at a time to avoid hitting the timeout.

## Missions - Base Attributes
| Field                       | Type | Notes     | Matchers | Examples (With Limits) |
|-----------------------------|------|-----------|----------|------------------------|
|`id`                         |  int | Unique GSC id                   | `.eq`, `.in` | `id.eq=22`, `id.in=4,3,2` |
|`name`                       |  string  | Name of mission, not unique | `.eq`, `.in` | `name.eq=Company Mission`, `name.in=Mission` |
|`instructions`               |  string  | Open text field for displaying instructions to users in the mobile app   | N/A | Not Filterable. |
|`created_at`                 |  datetime | When this version of the mission was created in GSC      | `.eq`, `.gt`, `.gte`, `.lt`, `.lte` | `created_at.eq=1635283293`, `created_at.gt=1635283293&created_at.lt=1635628893` |
|`updated_at`                 |  datetime | When this version of the mission was last updated in GSC | `.eq`, `.lt`, `.lte`, `.gt`, `.gte` | `updated_at.eq=1635283293`, `updated_at.gt=1635283293&updated_at.lt=1635628893` |
|`maximum_responses_per_user` |  int  | Optional setting to limit the number of times an individual user can respond to a mission | N/A | Not Filterable. |
|`maximum_responses_per_location` |  int  | Optional setting to limit the number of times a mission can be completed at one place | N/A | Not Filterable. |
|`state`                      |  string  | Missions can either be in draft, published (started), stopped, completed, archived or versioned | `.eq` | `state.eq=completed` |
|`enable_user_assigned_places`|  boolean | Mission is only available to users at their assigned places        | `.eq` | `enable_user_assigned_places.eq=true` |
|`archived_at`                |  datetime | When this version of the mission was archived in GSC              | `.eq`, `.gt`, `.gte`, `.lt`, `.lte` | `archived_at.eq=1635283293`, `archived_at.gt=1635283293&archived_at.lt=1635628893` |
|`version_identifier`         |  int  | Unique identifier to link multiple versions of a mission together     | `.eq`, `.in` | `version_identifier.eq=4`, `version_identifier.in=3,5` |
|`version_number`             |  int  | Version of the mission, always 1 unless mission has been versioned    | `.eq`, `.gt`, `.gte`, `.lt`, `.lte` | `version_number.eq=11`, `version_number.gt=2&version_number.lt=9` |
|`updated_by_id`              |  int  | ID of GSC user who last updated this version of the mission           | `.eq`, `.gt`, `.gte`, `.lt`, `.lte`, `.in` | `updated_by_id.eq=1`, `updated_by_id.lt=5&updated_by_id.gt=1` |
|`created_by_id`              |  int  | ID of GSC user who created this version of the mission | `.eq` | `created_by_id.eq=1` |
|`started_by_id`              |  int  | ID of GSC user who last started this version of the mission | `.eq`, `.in` | `started_by_id.eq=5`, `started_by_id.in=1, 5` |
|`started_at`                 |  datetime | When this version of the mission was started (published) in GSC | `.eq`, `.gt`, `.gte`, `.lt`, `.lte` | `started_at.eq=1635283293`, `started_at.gt=1635283293&started_at.lt=1635628893` |
|`stopped_by_id`              |  int  | ID of GSC user who last stopped this version of the mission | N/A | Not Filterable. |
|`stopped_at`                 |  datetime | When this version of the mission was stopped (same as completed_at) in GSC | N/A | Not Filterable. |
|`archived_by_id`             |  int  | ID of GSC user who archived this version of the mission | N/A | `arhived_by_id.eq=22` |
|`completed_at`               |  datetime | When this version of the mission was stopped (same as stopped_at) in GSC | `.eq`, `.gt`, `.gte`, `.lt`, `.lte` | `completed_at.eq=1406236435.060687`, `completed_at.gt=1635283293&completed_at.lt=1635628893` |
|`metadata/properties`        |  string   | Custom key/value pairs, key must be created by GSC but values can be pulled from the API |


## Available Includes for Missions
For more info, see: [Includes & Methods](#section-includes-methods)

- `sections`
- `tasks`
- `teams`
- `place_groups`

## Available Methods for Missions
For more info, see: [Includes & Methods](#section-includes-methods)

- `company_id`
- `info_url` - a link available to a rep from within GSC mobile app to a reference webpage or file
- `allow_new_places` - whether mission can be completed at rep-added new places
- `anywhere_mission` - whether mission can be completed without an associated place

## Create Missions

The following attributes are permitted when creating a Mission. All other attributes will be ignored.

| Field                                     | Type           | Required|Note|
|-------------------------------------------|----------------|----------|---|
| `name`                                    | string         | Yes |
| `instructions`                            | string         | No  |
| `maximum_responses_per_user`              | int            | No   |
| `maximum_responses_per_location`          | int            | No    |
| `info_url`                                | string         | No      |
| `state`                                   | string         | No | May be one of `draft`, `published`, `completed`, `deleted` and `archived`. |
| `teams`                                   | array          | No| An array of embedded attribute hashes for teams
| `place_groups`                            | array          | No| An array of embedded attribute hashes for place_groups


### POST
#### Create A New Mission
##### [/external/v1/missions]

+ Request (application/json)

    + Headers

            Authorization: Bearer 1234567890abcdef

    + Body

            {
                "name": "A New Mission",
                "instructions": "Mission instructions",
                "maximum_responses_per_user": null,
                "maximum_responses_per_location": 5,
                "enable_user_assigned_places": true,
                "allow_offline": false,
                "teams": [
                    {
                        "team_id":2
                    },
                    {
                        "team_id":3
                    }
                ],
                "place_groups": [
                    {
                        "place_group_id": 1
                    }
                ]
            }

+ Response 201 (application/json)

        {
            "request": {
                "status_code": 201,
                "status_message": "missions created successfully",
                "path": "/external/v1/missions",
                "method": "POST",
                "params": {}
            },
            "data": {
                "archived_at": null,
                "completed_at": null,
                "created_at": "2014-10-29T10:54:25-04:00",
                "id": 2,
                "instructions": "Mission instructions",
                "maximum_responses_per_location": 5,
                "maximum_responses_per_user": null,
                "name": "A New Mission",
                "state": "draft",
                "updated_at": "2014-10-29T10:54:25-04:00",
                "teams": [
                    {
                        "id": 2,
                        "name": "Bedrock",
                        "created_at": "2014-10-23T13:35:14.758-04:00",
                        "updated_at": "2014-10-23T13:35:14.758-04:00",
                    },
                    {
                        "id": 3,
                        "name": "Flintstones",
                        "created_at": "2014-10-23T13:35:14.769-04:00",
                        "updated_at": "2014-10-23T13:35:14.769-04:00",
                    }
                ],
                "place_groups": [
                    {
                        "id": 1,
                        "name": "All",
                        "created_at": "2014-10-23T13:35:14.358-04:00",
                        "updated_at": "2014-10-23T13:35:14.358-04:00",
                    }
                ]
            }
        }
        
#### Create A New Mission with an Info URL
##### [/external/v1/missions?methods=info_url]

+ Request (application/json)

    + Headers

            Authorization: Bearer 1234567890abcdef

    + Body

            {
                "name": "A New Mission",
                "instructions": "Mission instructions",
                "maximum_responses_per_user": null,
                "maximum_responses_per_location": 5,
                "info_url": "http://www.example.com/mission-image.jpg",
                "enable_user_assigned_places": true,
                "allow_offline": false,
                "teams": [
                    {
                        "team_id":2
                    },
                    {
                        "team_id":3
                    }
                ],
                "place_groups": [
                    {
                        "place_group_id": 1
                    }
                ]
            }

+ Response 201 (application/json)

        {
            "request": {
                "status_code": 201,
                "status_message": "missions created successfully",
                "path": "/external/v1/missions",
                "method": "POST",
                "params": {}
            },
            "data": {
                "archived_at": null,
                "completed_at": null,
                "created_at": "2014-10-29T10:54:25-04:00",
                "id": 2,
                "instructions": "Mission instructions",
                "maximum_responses_per_location": 5,
                "maximum_responses_per_user": null,
                "name": "A New Mission",
                "state": "draft",
                "updated_at": "2014-10-29T10:54:25-04:00",
                "info_url": {
                    "id": 3,
                    "urlable_type": "Campaign",
                    "urlable_id": 2,
                    "url": "http://www.example.com/mission-image.jpg",
                    "created_at": "2014-07-01T14:10:18.995-04:00",
                    "updated_at": "2014-07-01T14:10:18.995-04:00",
                    "company_id": 1,
                    "data_synced_at": "2014-07-01T14:10:18.992-04:00"
                },
                "teams": [
                    {
                        "id": 2,
                        "name": "Bedrock",
                        "created_at": "2014-10-23T13:35:14.758-04:00",
                        "updated_at": "2014-10-23T13:35:14.758-04:00",
                    },
                    {
                        "id": 3,
                        "name": "Flintstones",
                        "created_at": "2014-10-23T13:35:14.769-04:00",
                        "updated_at": "2014-10-23T13:35:14.769-04:00",
                    }
                ],
                "place_groups": [
                    {
                        "id": 1,
                        "name": "All",
                        "created_at": "2014-10-23T13:35:14.358-04:00",
                        "updated_at": "2014-10-23T13:35:14.358-04:00",
                    }
                ]
            }
        }

## List Missions And Mission Info
### GET
#### List All Missions For Company
##### [/external/v1/missions]

+ Request (application/json)

    + Headers

            Authorization: Bearer 1234567890abcdef

+ Response 200 (application/json)

        {
            "request": {
                "status_code": 200,
                "status_message": "OK",
                "path": "/external/v1/missions",
                "method": "GET",
                "format": "json",
                "params": {}
            },
            "paging": {
                "next_page": 2,
                "current_page": 1,
                "previous_page": null,
                "per_page": 25,
                "total_records": 1407,
                "first_timestamp": 1458316794.843883,
                "last_timestamp": 1470770420.934975
            },
            "data": [
                {
                    "id": 2817,
                    "name": "Sales Representative Maintenance",
                    "instructions": "Fill out entirely for each account",
                    "created_at": "2016-08-09T15:19:59.135-04:00",
                    "updated_at": "2016-08-09T15:19:59.205-04:00",
                    "maximum_responses_per_user": null,
                    "maximum_responses_per_location": null,
                    "state": "draft",
                    "enable_user_assigned_places": false,
                    "archived_at": null,
                    "version_identifier": 2760,
                    "version_number": 1,
                    "updated_by_id": 252,
                    "created_by_id": 252,
                    "started_by_id": null,
                    "started_at": null,
                    "stopped_by_id": null,
                    "stopped_at": null,
                    "archived_by_id": null,
                    "completed_at": null,
                    "mission_property": "Mission Property Value ABC"
                }
                ...
            ]
        }

#### List All Missions With State Completed
##### [/external/v1/missions?state.eq=completed]

+ Parameters
    + state.eq  (optional, string, `completed`) ... Request records that have state = completed

+ Request - Missions where state = completed (application/json)

    + Headers

            Authorization: Bearer 1234567890abcdef

[...]
